# dependencies
node_modules/

# env
.env
.env.*
!.env.example

# logs
logs/
*.log
npm-debug.log*

# OS / editor
.DS_Store
.vscode/
.idea/

# dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*
/src/generated/prisma
